/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  `  |  Q  |  W  |  F  |  P  |  G  |   |  J  |  L   |  U  |  Y  |  ;  |  - |
// | CAPW|  A  |  R  |  S  |  T  |  D  |   |  H  |  N   |  E  |  I  |  O  |  ' |
// |  :  |  Z  |  X  |  C  |  V  |  B  |   |  K  |  M   |  ,  |  .  |  /  | F17|
//                    | ESC | TAB | ENT |   | SPC | BKSP  | DEL |
                        display-name = "Base";
                        bindings = <
   &kp GRAVE  &kp Q       &kp W      &kp F      &kp P      &kp G   &kp J &kp L      &kp U      &kp Y      &kp SEMI    &kp MINUS
   &caps_word &mt LSHFT A &mt LALT R &mt LCTL S &mt LGUI T &kp D   &kp H &mt RGUI N &mt RCTL E &mt RALT I &mt RSHFT O &kp SQT
   &kp COLON  &kp Z       &kp X      &kp C      &kp V      &kp B   &kp K &kp M      &kp COMMA  &kp DOT    &kp FSLH    &kp F17
                                      &kp ESC &lt 1 TAB &lt 2 RET  &lt 2 SPACE &lt 1 BKSP &kp DEL
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  B_UP |   1   |   2  |   3  |   4  |  5  |   |  6  |  7  |  8  |  9  |  0  | EQUAL |
// |  B_DN | LSHFT | LALT | LCTL | LGUI |     |   | LFT | DWN |  UP | RGT |     |       |
// | BT_CLR|  BT0  |  BT1 |  BT2 |  BT3 | BT4 |   |     |     |     |     |  \  | F17   |
//                          | ESC |     | RET |   | SPC |     | DEL |
                        display-name = "Lower";
                        bindings = <
   &kp F15    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6 &kp N7   &kp N8   &kp N9 &kp N0    &kp EQUAL
   &kp F14    &kp LSHFT    &kp LALT     &kp LCTRL    &kp LGUI     &trans         &trans &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &trans &trans   &trans   &trans &kp BSLH  &kp F17
                          	             &kp ESC     &trans       &kp RET        &kp SPACE  &trans   &kp DEL
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// | V_UP | c-1 | c-2 | c-3 | c-4 | c-5 |   | c-1 | c-2 | c-3 | c-4 | c-5 | NEXT |
// | V_DN |     |     |     |     |  (  |   |  )  |     |     |     |     |  PP  |
// | MUTE |     |     |     |  {  |  [  |   |  ]  |  }  |     |     | '|' | PREV |
//                    | ESC | TAB |     |   |     | BKSP | DEL |
                        display-name = "Raise";
                        bindings = <
   &kp C_VOL_UP &kp LC(1) &kp LC(2) &kp LC(3) &kp LC(4) &kp LC(5)   &kp LC(1) &kp LC(2) &kp LC(3) &kp LC(4) &kp LC(5) &kp C_NEXT
   &kp C_VOL_DN &trans    &trans    &trans    &trans    &kp LPAR    &kp RPAR  &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT &kp C_PP
   &kp C_MUTE   &trans   &trans     &trans    &kp LBRC  &kp LBKT    &kp RBKT  &kp RBRC  &trans    &trans    &kp PIPE  &kp C_PREV
                    	                &kp ESC &kp TAB   &trans    &trans &kp BKSP &kp DEL
                        >;
                };

                extra_1 {
                        status = "reserved";
                };

                extra_2 {
                        status = "reserved";
                };

                extra_3 {
                        status = "reserved";
                };
        };
};
